annotated-types
anyio
bcrypt
click
debugpy
dnspython
email_validator
fastapi
h11
idna
jose
motor
packaging
passlib
pip-review
pydantic
pydantic-settings
pydantic_core
PyJWT
pymongo
python-dotenv
sniffio
starlette
typing_extensions
uvicorn
beanie
